/*
 * Copyright (c) 2017 National Instruments Corp
 *
 * SPDX-License-Identifier: GPL-2.0 OR X11
 */

&fpga_full {
	uio@40010000 {
		compatible = "usrp-uio";
		reg = <0x40010000 0x2000>;
		reg-names = "mboard-regs";
		status = "okay";
	};

    uio@40014000 {
		compatible = "usrp-uio";
		reg = <0x40014000 0x4000>;
		reg-names = "dboard-regs-0";
		status = "okay";
	};

	uio@42100000 {
		compatible = "usrp-uio";
		reg = <0x42100000 0x1000>;
		reg-names = "dboard-jtag-0";
		status = "okay";
	};
};

&spi0 {
	status = "okay";

	cs-gpios = <0>, <0>, <0>, <&gpio0 62 0>;

	spidev0: spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		status = "okay";
		spi-max-frequency = <1000000>;
	};

	spidev1: spidev@1 {
		compatible = "rohm,dh2228fv";
		reg = <1>;
		status = "okay";
		spi-max-frequency = <1000000>;
	};

	spidev2: spidev@2 {
		compatible = "rohm,dh2228fv";
		reg = <2>;
		status = "okay";
		spi-max-frequency = <1000000>;
	};

	spidev3: spidev@3 {
		compatible = "rohm,dh2228fv";
		reg = <3>;
		status = "okay";
		spi-max-frequency = <1000000>;
	};
};
