SUBSYSTEM=="net", KERNELS=="1200070000.ethernet", NAME="sfp1_3"
SUBSYSTEM=="net", KERNELS=="1200060000.ethernet", NAME="sfp1_2"
SUBSYSTEM=="net", KERNELS=="1200050000.ethernet", NAME="sfp1_1"
SUBSYSTEM=="net", KERNELS=="1200040000.ethernet", NAME="sfp1"
SUBSYSTEM=="net", KERNELS=="1200030000.ethernet", NAME="sfp0_3"
SUBSYSTEM=="net", KERNELS=="1200020000.ethernet", NAME="sfp0_2"
SUBSYSTEM=="net", KERNELS=="1200010000.ethernet", NAME="sfp0_1"
SUBSYSTEM=="net", KERNELS=="1200000000.ethernet", NAME="sfp0"
SUBSYSTEM=="net", KERNELS=="10000a4000.ethernet", NAME="int0"
