NET   XG_CLK_p IOSTANDARD = LVDS_25 | LOC = R8;
NET "XG_CLK_p" TNM_NET = XG_CLK_p;
TIMESPEC TS_XG_CLK_p = PERIOD "XG_CLK_p" 6400 ps HIGH 50%;

NET   XG_CLK_n IOSTANDARD = LVDS_25 | LOC = R7;
NET "XG_CLK_n" TNM_NET = XG_CLK_n;
TIMESPEC TS_XG_CLK_n = PERIOD "XG_CLK_n" TS_XG_CLK_p HIGH 50%;
