NET   ETH_CLK_p   IOSTANDARD = LVDS_25 | LOC = L8;
NET "ETH_CLK_p" TNM_NET = ETH_CLK_p;
TIMESPEC TS_ETH_CLK_p = PERIOD "ETH_CLK_p" 8 ns HIGH 50%;

NET   ETH_CLK_n   IOSTANDARD = LVDS_25 | LOC = L7;
NET "ETH_CLK_n" TNM_NET = ETH_CLK_n;
TIMESPEC TS_ETH_CLK_n = PERIOD "ETH_CLK_n" TS_ETH_CLK_p HIGH 50%;
