
## GPMC
NET "EM_D<15>"  LOC = "D13"  ;
NET "EM_D<14>"  LOC = "D15"  ;
NET "EM_D<13>"  LOC = "C16"  ;
NET "EM_D<12>"  LOC = "B20"  ;
NET "EM_D<11>"  LOC = "A19"  ;
NET "EM_D<10>"  LOC = "A17"  ;
NET "EM_D<9>"  LOC = "E15"  ;
NET "EM_D<8>"  LOC = "F15"  ;
NET "EM_D<7>"  LOC = "E16"  ;
NET "EM_D<6>"  LOC = "F16"  ;
NET "EM_D<5>"  LOC = "B17"  ;
NET "EM_D<4>"  LOC = "C17"  ;
NET "EM_D<3>"  LOC = "B19"  ;
NET "EM_D<2>"  LOC = "D19"  ;
NET "EM_D<1>"  LOC = "C19"  ;
NET "EM_D<0>"  LOC = "A20"  ;

NET "EM_A<10>"  LOC = "C14"  ;
NET "EM_A<9>"  LOC = "C10"  ;
NET "EM_A<8>"  LOC = "C5"  ;
NET "EM_A<7>"  LOC = "A18"  ;
NET "EM_A<6>"  LOC = "A15"  ;
NET "EM_A<5>"  LOC = "A12"  ;
NET "EM_A<4>"  LOC = "A10"  ;
NET "EM_A<3>"  LOC = "E7"  ;
NET "EM_A<2>"  LOC = "A7"  ;
NET "EM_A<1>"  LOC = "C15"  ;

NET "EM_NCS6"  LOC = "E17"  ;
NET "EM_NCS5"  LOC = "E10"  ;
NET "EM_NCS4"  LOC = "E6"  ;
#NET "EM_NCS1"  LOC = "D18"  ;
#NET "EM_NCS0"  LOC = "D17"  ;

NET "EM_CLK"  LOC = "F11"  ;
NET "EM_WAIT0"  LOC = "F14"  ;
NET "EM_NBE<1>"  LOC = "D14"  ;
NET "EM_NBE<0>"  LOC = "A13"  ;
NET "EM_NWE"  LOC = "B13"  ;
NET "EM_NOE"  LOC = "A14"  ;
NET "EM_NADV_ALE"  LOC = "B15"  ;
NET "EM_NWP"  LOC = "F13"  ;

## Debug pins
NET "debug_led<3>"  LOC = "Y15"  ;
NET "debug_led<2>"  LOC = "K16"  ;
NET "debug_led<1>"  LOC = "J17"  ;
NET "debug_led<0>"  LOC = "H22"  ;
NET "debug<0>"  LOC = "G22"  ;
NET "debug<1>"  LOC = "H17"  ;
NET "debug<2>"  LOC = "H18"  ;
NET "debug<3>"  LOC = "K20"  ;
NET "debug<4>"  LOC = "J20"  ;
NET "debug<5>"  LOC = "K19"  ;
NET "debug<6>"  LOC = "K18"  ;
NET "debug<7>"  LOC = "L22"  ;
NET "debug<8>"  LOC = "K22"  ;
NET "debug<9>"  LOC = "N22"  ;
NET "debug<10>"  LOC = "M22"  ;
NET "debug<11>"  LOC = "N20"  ;
NET "debug<12>"  LOC = "N19"  ;
NET "debug<13>"  LOC = "R22"  ;
NET "debug<14>"  LOC = "P22"  ;
NET "debug<15>"  LOC = "N17"  ;
NET "debug<16>"  LOC = "P16"  ;
NET "debug<17>"  LOC = "U22"  ;
NET "debug<18>"  LOC = "P19"  ;
NET "debug<19>"  LOC = "R18"  ;
NET "debug<20>"  LOC = "U20"  ;
NET "debug<21>"  LOC = "T20"  ;
NET "debug<22>"  LOC = "R19"  ;
NET "debug<23>"  LOC = "R20"  ;
NET "debug<24>"  LOC = "W22"  ;
NET "debug<25>"  LOC = "Y22"  ;
NET "debug<26>"  LOC = "T18"  ;
NET "debug<27>"  LOC = "T17"  ;
NET "debug<28>"  LOC = "W19"  ;
NET "debug<29>"  LOC = "V20"  ;
NET "debug<30>"  LOC = "Y21"  ;
NET "debug<31>"  LOC = "AA22"  ;
NET "debug_clk<0>"  LOC = "N18"  ;
NET "debug_clk<1>"  LOC = "M17"  ;

NET "debug_pb"  LOC = "C22"  ;
